/* common */

[class*="col-"] {
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    overflow-wrap: break-word;
}

.Roboto-light {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.Roboto-regular {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.Roboto-medium {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.Roboto-bold {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.Roboto-black {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}

body {
    margin: 0;
    padding: 0;
}

div,
span,
p,
a {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.logo-project {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.main-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 9999;
}

.main-loading .circle {
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-left-color: #3289B3;
    border-bottom-color: #3289B3;
    animation: load 0.6s linear infinite;
}

@-moz-keyframes load {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes load {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* adapte the elements according to the screen */

@media only screen and (max-width: 769px) {
    .popup__content {
        width: 90%;
    }
}

@media only screen and (max-width: 1250px) {
    .popup__content {
        width: 50% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .popup__content {
        width: 70%;
    }
}


/* END : adapte the elements according to the screen */

.c-info {
    color: #3289B3 !important;
}

.c-dyn {
    color: #e67e00 !important;
}

.nw-bg-info {
    color: white !important;
    background-color: #3289B3 !important;
}

.nw-bg-dyn {
    color: white !important;
    background-color: #e67e00 !important;
}

.nw-bg-grey-9 {
    background: rgba(238, 238, 238, 0.9);
}

.nw-bg-default {
    background-color: #2bbbad !important;
}

.nw-bg-danger {
    background-color: #d32f2f !important
}

.nw-bg-success {
    background-color: #00c851 !important;
}

.nw-bg-primary {
    background-color: #3289B3 !important;
}

.nw-bg-warning {
    background-color: #fb3 !important;
}

.nw-bg-light {
    background-color: #e0e0e0 !important;
}

.nw-bg-dark {
    background-color: #212121 !important;
}

.nw-bg-grey {
    background-color: grey !important;
}

.border-infor {
    border: 2px solid #3289B3;
}

.bg-dashbrd-grey {
    background-color: #eee;
}

.margin-top-header {
    margin-top: 65px
}

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-none {
    cursor: none !important;
}

.head-title-grey {
    color: #4f4f4f;
    font-family: Roboto regular, sans-serif;
}

.size8 {
    font-size: 8px !important;
}

.size11 {
    font-size: 11px !important;
}

.size12 {
    font-size: 12px !important;
}

.size13 {
    font-size: 13px !important;
}

.size14 {
    font-size: 14px !important;
}

.size15 {
    font-size: 15px !important;
}

.size19 {
    font-size: 19px !important;
}

.size20 {
    font-size: 20px !important;
}

.size25 {
    font-size: 25px !important;
}

.size30 {
    font-size: 30px !important;
}

.size35 {
    font-size: 35px !important;
}

.size40 {
    font-size: 40px !important;
}

.h-99 {
    height: 99.5% !important;
}

.h-33 {
    height: 33% !important;
}

.height40 {
    height: 40px !important;
}

.height100 {
    height: 100px !important;
}

.height110 {
    height: 110px !important;
}

.height300 {
    height: 300px !important;
}

.resize-none {
    resize: none;
}

.lg-normal-title-text {
    font-family: Roboto regular, sans-serif;
    font-size: 23px;
}

.title-sm-light {
    color: grey;
    font-size: 14px;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.h-20 {
    height: 20%;
}

.h-25 {
    height: 25%;
}

.h-80 {
    height: 80%;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus,
input:active,
select:active,
textarea:active,
button:active,
a:active {
    outline: none;
}

.white-space-nowrap {
    white-space: nowrap !important;
}

.top_varied,
.top_varied_img {
    transition: .3s all;
}

.nw_prefix {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    transition: 0.1s linear;
}

.nw-prefix-md {
    font-size: 25px;
}

.nw-prefix-sm {
    font-size: 18px;
}

.nw-text-default {
    color: #2bbbad !important;
}

.nw-text-danger {
    color: #d32f2f !important;
}

.nw-text-dync {
    color: #e67e00 !important;
}

.nw-text-info {
    color: #007bff !important
}

.nw-text-success {
    color: #00c851 !important;
}

.nw-text-primary {
    color: #3289B3 !important;
}

.nw-text-warning {
    color: #fb3 !important;
}

.nw-text-light {
    color: #e0e0e0 !important;
}

.nw-text-dark {
    color: #212121 !important;
}

.nw-text-light {
    color: #e0e0e0 !important;
}

.nw-text-grey {
    color: #757575 !important;
}

.nw-badge {
    font-family: Roboto bold, sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: initial;
    border-radius: .125rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: capitalize;
}

.nw-simple-badge {
    font-family: Roboto bold, sans-serif;
    padding: 4px 5px;
    font-size: 12px;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nw-simple-badge-pill {
    background-color: rgba(0, 0, 0, 0.07);
    vertical-align: baseline;
    border-radius: 10rem;
}

.nw-badge-default {
    color: #fff !important;
    background-color: #2bbbad !important;
}

.nw-badge-danger {
    color: #fff !important;
    background-color: #d32f2f !important
}

.nw-badge-dync {
    color: #fff !important;
    background-color: #e67e00 !important;
}

.nw-badge-info {
    color: #fff !important;
    background-color: #007bff !important
}

.nw-badge-success {
    color: #fff !important;
    background-color: #00c851 !important;
}

.nw-badge-primary {
    color: #fff !important;
    background-color: #4285f4 !important;
}

.nw-badge-warning {
    color: #fff !important;
    background-color: #fb3 !important;
}

.nw-badge-light {
    /*color: #fff ;*/
    background-color: #e0e0e0 !important;
}

.nw-badge-dark {
    color: #fff !important;
    background-color: #212121 !important;
}

.nw-badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.nw-btn-lg {
    padding: .7rem 2.1rem;
    font-size: 1rem;
}

.nw-btn-md {
    padding: .7rem 2.1rem;
    font-size: .9rem;
}

.nw-btn-sm {
    padding: 0.7rem 1.2rem;
    font-size: .8rem;
}

.nw-btn-s {
    padding: 0.3rem 1.2rem;
    font-size: .7rem;
}

.nw-btn-xs {
    padding: 0.1rem 0.6rem;
    font-size: .6rem;
}

.nw-btn {
    margin: .1rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* outline btn */

.nw-btn-outline-primary {
    color: #000 !important;
    border: 2px solid #3289B3 !important;
    background-color: #fff;
}

.nw-btn-outline-dync {
    color: #000;
    border: 2px solid #e67e00 !important;
    background-color: #fff;
}

.nw-btn-outline-default {
    color: #000 !important;
    border: 2px solid #2bbbad !important;
    background-color: #fff;
}

.nw-btn-outline-secondary {
    color: #000 !important;
    border: 2px solid #a6c !important;
    background-color: #fff;
}

.nw-btn-outline-success {
    color: #000 !important;
    border: 2px solid #00c851 !important;
    background-color: #fff;
}

.nw-btn-outline-info {
    color: #000 !important;
    border: 2px solid #007bff !important;
    background-color: #fff;
}

.nw-btn-outline-warning {
    color: #000 !important;
    border: 2px solid #fb3 !important;
    background-color: #fff;
}

.nw-btn-outline-danger {
    color: #000 !important;
    border: 2px solid #d32f2f !important;
    background-color: #fff;
}


/* END : outline btn */

.nw-btn-primary {
    color: #fff !important;
    background-color: #3289B3 !important;
}

.nw-btn-dync {
    color: #fff !important;
    background-color: #e67e00 !important;
}

.nw-btn-default {
    color: #fff !important;
    background-color: #2bbbad !important;
}

.nw-btn-secondary {
    color: #fff !important;
    background-color: #a6c !important;
}

.nw-btn-success {
    color: #fff !important;
    background-color: #00c851 !important;
}

.nw-btn-info {
    color: #fff !important;
    background-color: #007bff !important;
}

.nw-btn-warning {
    color: #fff !important;
    background-color: #fb3 !important;
}

.nw-btn-danger {
    color: #fff !important;
    background-color: #d32f2f !important;
}

.nw-btn-light {
    color: #000;
    background-color: #e0e0e0 !important;
}

.nw-btn-primary:hover {
    color: #fff !important;
    background-color: #3289B3 !important;
    opacity: 0.9;
}

.nw-btn-default:hover {
    color: #fff !important;
    background-color: #2bbbad !important;
    opacity: 0.9;
}

.nw-btn-secondary:hover {
    color: #fff !important;
    background-color: #a6c !important;
    opacity: 0.9;
}

.nw-btn-success:hover {
    color: #fff !important;
    background-color: #00c851 !important;
    opacity: 0.9;
}

.nw-btn-info:hover {
    color: #fff !important;
    background-color: #007bff !important;
    opacity: 0.9;
}

.nw-btn-warning:hover {
    color: #fff !important;
    background-color: #fb3 !important;
    opacity: 0.9;
}

.nw-btn-danger:hover {
    color: #fff !important;
    background-color: #d32f2f !important;
    opacity: 0.9;
}

.nw-btn-light:hover {
    color: #000;
    background-color: #e0e0e0 !important;
    opacity: 0.9;
}

.nw-btn-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}


/* note */

.nw-note {
    padding: 20px 10px 1px 10px;
    border-top: 5px solid black;
    border-radius: 3px;
}

.nw-note-primary {
    color: #000 !important;
    background-color: rgba(50, 137, 179, 0.05) !important;
    border-top-color: #3289B3 !important;
}

.nw-note-default {
    color: #000 !important;
    background-color: rgba(43, 187, 173, 0.05) !important;
    border-top-color: #2bbbad !important;
}

.nw-note-secondary {
    color: #000 !important;
    background-color: rgba(170, 102, 204, 0.05) !important;
    border-top-color: #a6c !important;
}

.nw-note-success {
    color: #000 !important;
    background-color: rgba(0, 200, 81, 0.05) !important;
    border-top-color: #00c851 !important;
}

.nw-note-info {
    color: #000 !important;
    background-color: rgba(0, 123, 255, 0.05) !important;
    border-top-color: #007bff !important;
}

.nw-note-warning {
    color: #000 !important;
    background-color: rgba(255, 187, 51, 0.05) !important;
    border-top-color: #fb3 !important;
}

.nw-note-danger {
    color: #000 !important;
    background-color: rgba(211, 47, 47, 0.05) !important;
    border-top-color: #d32f2f !important;
}

.nw-note-light {
    color: #000;
    background-color: rgba(224, 224, 224, 0.05) !important;
    border-top-color: #e0e0e0 !important;
}

.nw-note-dark {
    color: #000;
    background-color: rgba(224, 224, 224, 0.2) !important;
    border-top-color: #e0e0e0 !important;
}


/* END : note */

.heading {
    margin: 0;
    font-size: 36px;
    font-family: regular, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 8px;
    color: #151e27;
}

.text-grey {
    color: grey !important;
}

.text-grey-op7 {
    color: #d6d6d6 !important;
}

.text-grey-op8 {
    color: rgba(73, 80, 87, 0.8);
}

.text-grey-2 {
    color: rgb(170, 170, 170);
}

.border-gainsboro {
    border: 1px solid gainsboro;
}

.bg-gainsboro {
    background-color: gainsboro !important;
}

.bg-gainsboro-hover:hover {
    background-color: #E8E8E8 !important;
}

.top0 {
    top: 0;
}

.right0 {
    right: 0;
}

.left0 {
    left: 0;
}

.bottom0 {
    bottom: 0;
}

.top100 {
    top: 100%;
}

.right100 {
    right: 100%;
}

.left100 {
    left: 100%;
}

.bottom100 {
    bottom: 100%;
}


/* padding all - 0 */

.pd-r0 {
    padding-right: 5px;
}

.pd-t0 {
    padding-top: 5px;
}

.pd-l0 {
    padding-left: 5px;
}

.pd-b0 {
    padding-bottom: 5px;
}


/* END : padding all - 0 */


/* padding all - 1 */

.pd-r1 {
    padding-right: 10px;
}

.pd-t1 {
    padding-top: 10px;
}

.pd-l1 {
    padding-left: 10px;
}

.pd-b1 {
    padding-bottom: 10px;
}


/* END : padding all - 1 */


/* padding all - 2 */

.pd-r2 {
    padding-right: 18px;
}

.pd-t2 {
    padding-top: 18px;
}

.pd-l2 {
    padding-left: 18px;
}

.pd-b2 {
    padding-bottom: 18px;
}


/* END : padding all - 2 */


/* padding all - 3 */

.pd-r3 {
    padding-right: 25px;
}

.pd-t3 {
    padding-top: 25px;
}

.pd-l3 {
    padding-left: 25px;
}

.pd-b3 {
    padding-bottom: 25px;
}


/* END : padding all - 3 */


/* padding all - 4 */

.pd-r4 {
    padding-right: 35px;
}

.pd-t4 {
    padding-top: 35px;
}

.pd-l4 {
    padding-left: 35px;
}

.pd-b4 {
    padding-bottom: 35px;
}


/* END : padding all - 4 */


/* padding all - 5 */

.pd-r5 {
    padding-right: 100px;
}

.pd-t5 {
    padding-top: 100px;
}

.pd-l5 {
    padding-left: 100px;
}

.pd-b5 {
    padding-bottom: 100px;
}


/* END : padding all - 5 */


/* margin all - 0 */

.mrg-r0 {
    margin-right: 5px;
}

.mrg-t0 {
    margin-top: 5px;
}

.mrg-l0 {
    margin-left: 5px;
}

.mrg-b0 {
    margin-bottom: 5px;
}


/* END : margin all - 0 */


/* margin all - 1 */

.mrg-r1 {
    margin-right: 10px;
}

.mrg-t1 {
    margin-top: 10px;
}

.mrg-l1 {
    margin-left: 10px;
}

.mrg-b1 {
    margin-bottom: 10px;
}


/* END : margin all - 1 */


/* margin all - 2 */

.mrg-r2 {
    margin-right: 18px;
}

.mrg-t2 {
    margin-top: 18px;
}

.mrg-l2 {
    margin-left: 18px;
}

.mrg-b2 {
    margin-bottom: 18px;
}


/* END : margin all - 2 */


/* margin all - 3 */

.mrg-r3 {
    margin-right: 25px;
}

.mrg-t3 {
    margin-top: 25px;
}

.mrg-l3 {
    margin-left: 25px;
}

.mrg-b3 {
    margin-bottom: 25px;
}


/* END : margin all - 3 */


/* margin all - 4 */

.mrg-r4 {
    margin-right: 35px;
}

.mrg-t4 {
    margin-top: 35px;
}

.mrg-l4 {
    margin-left: 35px;
}

.mrg-b4 {
    margin-bottom: 35px;
}


/* END : margin all - 4 */


/* margin all - 5 */

.mrg-r5 {
    margin-right: 100px;
}

.mrg-t5 {
    margin-top: 100px;
}

.mrg-l5 {
    margin-left: 100px;
}

.mrg-b5 {
    margin-bottom: 100px;
}


/* END : margin all - 5 */


/* END : margin all - 7 */

.mrg-md-t7 {
    margin-top: 13rem !important;
}


/* END : margin all - 7 */


/* END : margin all - 8 */

.mrg-lg-t8 {
    margin-top: 19rem !important;
}


/* END : margin all - 8 */


/* padding - 0 */

.pd0 {
    padding: 5px;
}


/* END : padding - 0*/


/* padding - 1 */

.pd1 {
    padding: 10px;
}


/* END : padding - 1*/


/* padding - 2 */

.pd2 {
    padding: 18px;
}


/* END : padding - 2*/


/* padding - 3 */

.pd3 {
    padding: 25px;
}


/* END : padding - 3*/


/* padding - 3 */

.pd4 {
    padding: 35px;
}


/* END : padding - 3*/


/* margin - 0 */

.mrg0 {
    margin: 5px;
}


/* END : margin - 0*/


/* margin - 1 */

.mrg1 {
    margin: 10px;
}


/* END : margin - 1*/


/* margin - 2 */

.mrg2 {
    margin: 18px;
}


/* END : margin - 2*/


/* margin - 3 */

.mrg3 {
    margin: 25px;
}


/* END : margin - 3*/


/* width */

.width15 {
    width: 15%;
}

.width70 {
    width: 70%;
}

.width75 {
    width: 75%;
}

.width25 {
    width: 25%;
}

.width100 {
    width: 100%;
}


/* END : width */


/* height */

.height100 {
    height: 100%;
}


/* height */

.important-text {
    font-size: 110%;
    font-family: Roboto regular, sans-serif;
    font-weight: 500 !important;
}

.important-nb {
    font-weight: 500 !important;
    font-family: Roboto Regular, sans-serif;
}

.bg-shadow-border {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bg-shadow-border-bottom-0 {
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.16), 0px -2px 10px 0px rgba(0, 0, 0, 0.12);
}

.bg-shadow-border-right-left {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.border-none {
    border: none;
}

a.radius-infor {
    background-color: #3289B3;
    border-radius: 100px;
    color: white;
    text-decoration: none;
}

.input-submit-login-form,
a.primary-infor {
    border-radius: 1px;
    text-decoration: none;
    background-color: #3289B3;
    color: white;
    border: 2px solid #3289B3;
}

.input-submit-login-form,
a.btn-infor {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: .6rem 1.6rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.input-submit-login-form,
a.btn-infor:hover {
    box-shadow: 0px 8px 50px 8px rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.4s;
}

a.outline-infor {
    border: 2px solid #3289B3;
    border-radius: 1px;
    background-color: transparent;
    text-decoration: none;
}

.link-infor {
    color: #3289B3;
    text-decoration: underline;
}

.link-infor:hover {
    color: #3289B3;
    text-decoration: underline;
}

.hr-line {
    margin-top: 15px;
}

.hr-line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3289B3;
    transition: width .2s;
    margin-top: -2px;
}

.hr-line:hover::after {
    width: 100%;
    border-bottom: 2px solid #3289B3;
    transition: width .3s;
}

.posR {
    position: relative;
}

.color-orange {
    color: #e67e00;
}

.bloc-zoom {
    overflow: hidden;
}

.zoom-img>img {
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.zoom-img:hover>img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.more-info {
    font-size: 12px;
    color: #3289B3;
}

.more-info:hover {
    text-decoration: underline;
}

.css-0 {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.css-1 {
    word-break: break-word;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    height: 60px;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.big-title-content {
    font-family: 'Roboto bold', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}

.nw-section-heading {
    box-shadow: 0 17px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 2px 2px 2px 2px;
}

.scroll-200 {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.alert-container {
    display: flex;
    position: fixed;
    top: 68px;
    right: 10px;
    z-index: 999;
    opacity: 0.9;
}

.input-form-animated {
    border: 0;
    padding: 2px 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    z-index: 280;
    transition: all 0.1s linear;
}

.error-msg-access-account {
    display: none;
    border: 1px solid #a94442;
    border-radius: 6px;
    color: #a94442;
    background-color: #f2dede;
}

.user-access-role {
    text-transform: capitalize;
    color: #707070;
    font-size: 12px;
    line-height: 20px;
    padding: 0 7px;
    border: 1px solid#e5e5e5;
    border-radius: 100px;
    font-weight: 400;
}

.hover-light:hover {
    background-color: #F8F8F8 !important;
}

.hover-light-g:hover {
    background-color: #eee !important;
}

.filt_stock {
    cursor: pointer;
    font-family: Roboto bold, sans-serif;
}

.active-filt-stock {
    border-bottom: 2px solid #3289B3;
}

.filt_stock:hover {
    background-color: #F8F8F8;
}

.big-label-sm {
    font-size: 110%;
    font-family: Roboto bold, sans-serif;
    color: #595959;
}

.last-update {
    padding: 5px 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 14px;
}

.full-width {
    width: 100% !important;
    max-width: 100% !important;
}

#nw-header nav {
    max-width: 100%;
    background-color: #000032! important;
}


/* END : common */


/* show option */

.showOptions {
    border: none;
    background-color: transparent;
    padding: 0;
    z-index: 100;
}

.title_menuBar {
    font-size: 16px !important;
    background-color: #FFFFFF;
    border: none;
    color: #000;
    border-radius: 4px;
    border: 3px solid;
}

.block-sub-announc {
    z-index: 950;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 2px;
    position: absolute;
    /* left: 0; */
    top: 100%;
    width: 180px;
}

.text-sub-announc {
    font-size: 13px;
    padding: 10px;
    margin: 5px;
}

.text-sub-announc:hover {
    background-color: #3289B3;
    border-radius: 3px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    color: white !important;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* END : show option */


/* popup */

.fix__custom__popup {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup {
    z-index: 9998;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.popup__dialog {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup__content {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    width: 30%;
    min-width: 280px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    animation: popupForm 0.5s ease-in-out;
}

.popup__header,
.popup__body,
.popup__footer {
    padding-left: 35px;
    padding-right: 35px;
}

.line-hr-bottom {
    border-bottom: 1px solid gainsboro;
}

@keyframes popupForm {
    from {
        opacity: 0;
        top: -50px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}


/* END : popup */

.name-userInvited,
.label-access {
    font-size: 0.875rem;
}

.name-userInvited {
    font-family: Roboto Bold, sans-serif;
}

.main-img {
    height: 60px;
    width: 60px;
    min-width: 60px;
}

.img-access {
    height: 40px;
    width: 40px;
}

.unique-form {
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.unique-form-text {
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
}

.nw-btn-access {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    box-shadow: 0 17px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: .2s linear;
}

.nw-btn-access:hover {
    opacity: 0.85;
}

.black-op {
    background-color: #444;
}

.review-title {
    font-size: 14px;
    font-weight: 700;
    color: #191919;
    margin-bottom: 5px;
    margin-bottom: 8px
}

.stars .nw-widget-star {
    margin-right: 1.5px;
    background: #A0A0A0;
    border-radius: 50%;
    height: 25px;
    position: relative;
    width: 25px;
    display: inline-table;
}

.review-based .nw-widget-star {
    width: 30px !important;
    height: 30px !important;
}

.review-based .nw-widget-star span {
    color: #fff;
    font-size: 15px;
}

.stars.lg-stars .nw-widget-star {
    margin-right: 1.5px;
    background: #A0A0A0;
    border-radius: 50%;
    height: 45px;
    position: relative;
    width: 45px;
    display: inline-table;
}

.stars.lg-stars .star-content {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 28px;
}

.stars .star-content {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

.nw-widget-star.nw-star-1 {
    background-color: #ff3547 !important;
}

.nw-widget-star.nw-star-half-1 {
    background: linear-gradient(90deg, #ff3547 50%, #dcdce6 50%);
}

.nw-widget-star.nw-star-2 {
    background-color: #e67e00 !important;
}

.nw-widget-star.nw-star-half-2 {
    background: linear-gradient(90deg, #e67e00 50%, #dcdce6 50%);
}

.nw-widget-star.nw-star-3 {
    background-color: #ffce00 !important;
}

.nw-widget-star.nw-star-half-3 {
    background: linear-gradient(90deg, #ffce00 50%, #dcdce6 50%);
}

.nw-widget-star.nw-star-4 {
    background-color: #73cf11 !important;
}

.nw-widget-star.nw-star-half-4 {
    background: linear-gradient(90deg, #73cf11 50%, #dcdce6 50%);
}

.nw-widget-star.nw-star-5 {
    background-color: #00b67a !important;
}

.nw-widget-star.nw-star-half-5 {
    background: linear-gradient(90deg, #00b67a 50%, #dcdce6 50%);
}


/* CompanyCP */

.nav-h {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 33%;
    background-color: #fff;
}

.nw-logo {
    font-size: 15px;
    color: grey;
    text-align: center;
    padding: 10px 0px;
}

main section {
    max-width: 100%;
    margin-left: 33%;
    overflow-y: auto;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 33%;
    overflow: hidden;
    background-color: #091707;
    color: white !important;
    border-right: 1px solid #eee;
}

aside a {
    display: block;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Quicksand, "Open Sans", sans-serif;
    font-size: 18px;
}

aside a.active {
    color: #000 !important;
}

aside span.menu-icon {
    display: inline-block;
    width: 50px;
    text-align: center;
}

nav {
    max-width: 200px;
    position: absolute;
    right: 0;
}

section {
    padding-bottom: 50px;
}

@media (max-width: 620px) {
    aside {
        width: 50px;
    }
    nav {
        text-align: right;
    }
    .nav-txt {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo-sm {
        display: inline-block;
    }
    main section {
        margin-left: 50px;
    }
    .nav-h {
        margin-left: 50px;
    }
}

.nw-card-perf {
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.blocks {
    width: 50%;
    padding: 10px;
    height: 100px;
    margin: 3px;
}

@media (max-width: 790px) {
    .perc {
        width: 12%;
    }
    .anim-perc {
        width: 88%;
    }
    .anim-perc-100 {
        width: 88%;
    }
}

@media (min-width: 790px) {
    .perc {
        width: 8%;
    }
    .anim-perc {
        width: 92%;
    }
    .anim-perc-100 {
        width: 92%;
    }
}

.perc {
    margin-right: 20px;
}

.anim-perc {
    color: rgb(37, 34, 34);
    background-color: #8693a078;
    padding: 2px 10px;
    border-radius: 5px;
}

.anim-perc-100 {
    color: rgb(37, 34, 34);
    background-color: rgb(0, 182, 122);
    ;
    padding: 2px 10px;
    border-radius: 5px;
}


/* /CompanyCP  */


/* Evaulate */

.header {
    height: 70px;
    line-height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.header>.logo {
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    height: inherit;
    line-height: inherit;
    padding: 0 4em;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1.8em;
    background-color: #fff;
}

.main {
    font-size: 29px;
    font-weight: 900;
    margin: auto;
    padding-top: 96px;
    text-align: center;
}

@media only screen and (max-width: 440px) {
    .star {
        height: 30px;
        width: 30px;
    }
    .star-content {
        font-size: 20px;
    }
    .text-review {
        font-family: Roboto, sans-serif;
        font-weight: 100;
    }
}

@media only screen and (min-width: 440px) {
    .star {
        height: 50px;
        width: 50px;
    }
    .star-content {
        font-size: 35px;
    }
    .text-review {
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }
}

@media only screen and (max-width: 990px) {
    .box-border {
        width: 100%;
    }
}

@media only screen and (min-width: 990px) {
    .box-border {
        width: 70%;
    }
}

.box-border {
    transition: .3s linear;
}

.stars-global {
    display: block;
    text-align: left;
}

.star {
    margin: 1px;
    background: #A0A0A0;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-content {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.star-none {
    background-color: #A0A0A0;
}

.star-bad {
    background-color: #ff0000;
}

.star-poor {
    background-color: #ff8000;
}

.star-average {
    background-color: #FFCC36;
}

.star-great {
    background-color: #00ff40;
}

.star-excellent {
    background-color: #007d00;
}

.stars-global>span.star.hover1 {
    background-color: #ff0000;
}

.stars-global>span.star.hover2 {
    background-color: #ff8000;
}

.stars-global>span.star.hover3 {
    background-color: #FFCC36;
}

.stars-global>span.star.hover4 {
    background-color: #00ff40;
}

.stars-global>span.star.hover5 {
    background-color: #007d00;
}

.star-text {
    font-size: 17px;
    color: #A0A0A0;
    display: block;
    text-align: left;
}

.body-review {
    display: none;
}

.form-review {
    margin: 0px 0px 0px 30px;
}

.SignUp {
    display: none;
}

.EmailSignUp {
    display: none;
}

.btn-with-email {
    border: none;
    background-color: transparent;
    color: #007bff;
}

.btn-with-email:hover {
    color: #005fc4;
}

.formSignup {
    display: none;
}

.primary {
    display: block;
}

.secondry {
    display: none;
}


/* /Evaluate */